*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;
    font-weight: 400;
    color: #404040;
      
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 14px;  
}
a{
    text-decoration: none;
}
.nav-section,.title{
    font-size: 16px;
}
.course-number,.course-nav,.course-list,.path-all,.original-price,.activity-time,.more-plateform{
    font-size: 13px;
}
.course-number-sum,.page-footer,.activities_status,.official-accounts,.plateform-name{
    font-size:12px;
}
.course-number-sum,.path-all,.user-box,.user-login,.user-register,.course-number,.list-item,.course-nav-item,.number-courses-student,.original-price,.activity-time,.official-accounts,.plateform-name,.footer-info,.footer-info-link,.contact-us,.icon-item{
    color: #888888;
}
.path-all:hover,.nav-item_hover:hover,.nav-item:hover,.list-item:hover,.course-name:hover{
    color: #Fa8919;
}

/* header */
.page-head{
    position: fixed;
    display:inline-block;
    width: 100%;
    top: 0;
    height:65px;
    line-height: 65px;
    background-color: #fdfdfd;
    border-bottom:thin solid rgba(196, 196, 196,0.5);
    text-align: center;
    
}
.head-logo-img{
    display:inline-block;  
    width: 120px;
    height: 65px;
    background: url('img/logo-wap.png') no-repeat center;
    background-size: contain;
    vertical-align:middle;
}
.nav-section{ 
    display:inline-block;  
    vertical-align:middle;
    margin-right: 150px;
    width: 950px;
}
.list-item:first-child,.nav-item_first{
    color: #fa8919;
}
.nav-item{ 
    margin:0 10px;
    list-style-type: none;
    float: left;
}
.enterprise-icon{
    display:inline-block;
    background: url('img/enterprise-icon.png') no-repeat center;
    width: 16px;
    height: 16px;
    background-size: contain;
    vertical-align: middle;
}
.phone-icon{
    width: 12px;
     height: 16px; 
    vertical-align: middle;
}
.search-icon{
    display:inline-block;
    vertical-align: middle;
    width:16px;
    height: 16px;
    background: url('img/search.png') no-repeat center;
    background-size:16px;
    }
.search-icon:hover{
    display:inline-block;
    vertical-align: middle;
    width:16px;
    height: 16px;    
    background: url('img/search_hover.png') no-repeat center;
    background-size:16px;
}
/* 主体 */
.main-body{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 720px 305px;
    grid-template-rows: 100%;
    grid-gap:0 50px;
    justify-content: center;
}
.main-left{
    display: grid;
    grid-template-columns:100%;;
    grid-template-rows:96px 240px 51px 2000px;  
    padding-right: 8px;
    grid-gap:30px 0;
}
.study-path{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:28px 56px;
}
.path-title,.course-nav,.course-introduction,.course-brief-descriptions,.purchase-box,.course-introduction,.qrcode-box{
display: flex;
justify-content: space-between;
align-items: center;
}
.title{
    font-weight: 500;
    color: black
}
.study-path-list{
    display: grid;
    grid-template-columns:repeat(4,25%);
    grid-template-rows:56px;
    margin-top: 12px;
}
.course{
    display:grid;
    grid-template-columns:112px 36px;
    grid-template-rows: 100%;
    align-items: center;
    background-color: #f6f7fa;
    margin-right:9px;
    padding:0 13px 0 10px ;
    border-radius: 5px;

}
.course-name,.course-number{
    display: block;  
}
.course-number{
   transform:scale(0.8);
   margin-left: -12px;
}
/* 课程分类 */
.classify-section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:44px 78px 60px;
    align-content:center;
    box-shadow: 0px 2px 2px 1px rgba(160, 160, 160, 0.767);
    background-color: white;
    row-gap:10px;
}
.classify-list{
    padding: 0 20px ;
    display: grid;
    grid-template-columns: 50px 620px;
    grid-template-rows:100%;
    overflow: hidden;
}
.list-title{
    font-weight:500;
}
.list-item:first-child{
    line-height: 22px;
    height: 22px;
    border-radius: 14px;
    width: 52px;
    background-color: #fbf5ee;
}
.list-item{
    display: inline-block;
    margin: 0 5px 12px 0;
    padding: 0 12px;
} 
/* 课程排序分类标准 */
.course-nav-item{
    display: inline-block;
    margin-right: 40px;
}
.course-nav-item:hover{
    color: #666565;
    font-weight: 500;
}
.course-nav-item:first-child{
    color: #666565;
    font-weight: 500;
}
.course-introduction{
    margin: 0 0 40px;
}
.course-introduction-box{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:57px 80px 35px; 
    }
.course-list{
    position: relative;
    display: grid;
    grid-template-columns:repeat(2,282px);
    grid-template-rows:repeat(2 20px); 
    list-style-type: none; 
    margin-bottom: 16px;
}
.course-item__description{
    display: inline-block;
    width: 282px;
    height: 20px;
    overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
    margin-top: 10px;
    padding-right:25px;
    line-height: 20px;

}
.course-item__description:hover{
    text-decoration: underline;
}
.course-item__description .free{
    position: absolute;
    display: inline-block;
    color: #Fa8919;
    text-align: center;
    width: 48px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #Fa8919;
    border-radius: 6px;
    font-size: 18px;
    transform:scale(0.5);
    transform-origin: top left;
    margin: 4px 0px;
}
.free-course{
    margin-left: 28px;
}
.special-price{
    color: #Fa8919;
    font-size: 18px;

}
.original-price{
    margin-left: 10px;
    text-decoration:line-through ;
    letter-spacing: 1px;
}
.bth{
display: block;
border: #Fa8919;
border-radius: 5px;
background-color: #Fa8919;
color: #fdfdfd;
width: 92px;
height: 33px;
}
.bth:hover{
   background-color:#ff7800;
}
.aside-body{
    width: 305px;
    display: flex;
    flex-direction: column;
}
.activities-box,.follow-us-box,.cooperate{
    margin-bottom: 30px;
}
/* 我的课程 */
.user-course-box{
    align-self: flex-end;
    margin-bottom: 20px;
}
.user-course{   
    width:105px;
    height: 31px;
    border-radius:5px;
    color: #Fa8919;
    border: 1px solid #Fa8919 ;
    background-color:white;
}
.user-course:hover{
    width:105px;
    height: 31px;
    border-radius:5px;
    color:#fF6000;
    border: 1px solid #ff6000;
}
.title{
    display: inline-block;
    width: 305px;
    height: 50px;
    line-height: 50px;
}
.activities_hover{
    position: relative;
    display: inline-block;
}
.activities_status{
  position:absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  background-color: #Fa8919;
  width: 40px;
  height: 20px;
  text-align: center;
  color: #fdfdfd;
  line-height: 20px;
}
.icon{
    display: none;
}
.activities_hover:hover .activity-title{
    text-decoration: underline;
}
.activities_hover:hover .icon {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background: url('img/broadcast-icon.png') no-repeat center;
    background-color: black;
    width: 305px;
    height: 172.14px;
    opacity: 0.3;
    border-radius: 5px;
}
.activities-img{
    border-radius: 5px;
    width: 100%;
}
.follow-us{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.qrcode-box{
    padding: 0 20px;
}
.qrcode{
    width:78px;
    height: 78px;
}
.qrcode-info{
margin-left: 10px;
}
.more-plateform{
    padding-left: 30px;
    font-weight: 500px;
    padding-top: 20px;
}
.plateform-list{
    margin:0 20px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows:105px;
}
.plateform-item{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:80% 20%;
    align-items: center;
    justify-items: center;
}
.plateform-item:hover .plateform-icon{
    box-shadow: 0px 3px 1px 1px rgba(166,166,166,0.35);
}
.plateform-icon{
    width:70%;
    border-radius: 100%;
}
.cooperate-box{
    display: block;
    padding: 10px;
}
.cooperate_img{
    display: inline-block;
    width:20px;
    height: 20px;
    vertical-align: middle;
}
.channel-cooperation,.recommend-author{
  margin-left: 17px;
  vertical-align: middle;
}
.channel-cooperation{
    display: inline-block;
    color:#6a9ad4;
}

.recommend-author{
    display: inline-block;
    color: #73a7a7;
}
/* 脚注 */
.page-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}
.footer-info-item,.footer-item-list{
    margin-bottom: 10px;
}
.footer-info,.footer-info-link,.contact-us{
    font-size: 11px;
    font-weight:100;
 }
 .contact-us{
     margin-left: 50px;
     margin-right:20px;
 }
.footer-item-list{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 51px;
}
.footer-item{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-right:20px;
   
}
.icon-tel{
    display: inline-block;
    width:25px;
    height: 25px;
    background: url('img/cellphone.png') no-repeat center;
    background-size: contain;
}
.icon-email{
    display: inline-block;
    width:25px;
    height: 25px;
    background: url('img/email.png') no-repeat;
    background-size: contain;
}
.icon-location{
    display: inline-block;
    width:25px;
    height: 25px;
    background: url('img/location.png') no-repeat;
    background-size: contain;
}
.icon-item{
    display: none;
}
.icon-tel:hover{
    background:url('img/cellphone_active.png') no-repeat ;    
    width:25px;
    height: 25px;
    background-size: contain;
}
.icon-email:hover{
    background:url('https://static001.geekbang.org/static/time/img/geek_elements/email_active.png') no-repeat ;    
    width:25px;
    height: 25px;
    background-size: contain;
}
.icon-location:hover{
    background:url('https://static001.geekbang.org/static/time/img/geek_elements/location_active.png') no-repeat ;    
    width:25px;
    height: 25px;
    background-size: contain;
}


.footer-item:hover .icon-item{
    position: absolute;
    display: inline-block;
    text-align: center;  
    width: 150px;
    height: 90px;
    bottom: 30px;
    padding: 30px 0;
}